body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    padding-block: 1rem;
}

#customers table {
    margin: auto;
}

#customers td,
#customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04aa6d;
    color: white;
}

.center {
    margin: auto;
    width: 200%;
    border: 3px solid #04aa6d;
    padding: 10px;
    text-align: center;
}

.registerArea {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.registerArea input,
.registerArea button {
    padding: 0.8rem;
    min-width: 180px;
}

.registerArea button {
    background: #04aa6d;
    color: white;
    font-weight: 500;
    border-color: #04aa6d;
    cursor: pointer;
}
